@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* { margin:0px; 
   padding: 0px;}


:root{--cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Fredericka the Great', cursive;
}

body{ background-color:var(--cor0);  font-family: var(--fonte-padrao);}
header{font-family: var(--fonte-destaque); 
    background-image:linear-gradient(180deg,var(--cor3), var(--cor5));
         min-height: 150px; text-align: center; padding-top: 40px; }
header > h1{color: white ; font-size: 3em; padding-bottom: 30px; font-size: 3em; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26); font-weight: normal;}
header > p{color: white; max-width: 500px; margin: auto;
font-family: var(--fonte-padrao); font-size: 1.2em;}
nav{ background-color: var(--cor5);
    padding: 5px; box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.527);

}
nav > a {color: var(--cor1);
         padding: 7px; 
         text-decoration: none;
         font-weight: bold;
        border-radius: 5px;}
nav > a:hover{color: var(--cor4); 
    background-color:var(--cor3);
    transition-duration: 0.5s;
}

main{ background-color: white; min-width: 300px; max-width: 1000px; margin: auto; margin-bottom: 25px; padding: 20px;       box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.61); border-radius: 0px 0px 20px 20px; 
}
.fds{ text-align: justify; text-indent: 30px; margin: 15px 0px; line-height: 2em; }
.cabeca{font-family: cabeca;}
.cabeca2{ font-family: cabeca; color:var(--cor4) ; background-image: linear-gradient(to right, var(--cor1),transparent);}
main h1 {color:var(--cor5); font-family: cabeca; font-size: 1.8em;}
main h2{font-family: cabeca; color:var(--cor4) ; font-size: 1.3em;  font-weight: normal;}
main a{ background-color:var(--cor1) ;color: var(--cor5); text-decoration: none; padding: 2px 6px; font-weight: bold;}
main a:hover{ color: var(--cor4);}
.pequena{ max-width: 350px; display: block; margin: auto;}
main strong{ color: var(--cor4); font-weight: bold;}
.video{ background-color: var(--cor4); margin-bottom: 30px; margin-right: -20px; padding: 20px; position: relative; padding-bottom: 58%;}
div.video > iframe{ position: absolute; top: 5%; left:5% ; width: 90%; height:90% ;

}





@font-face {
    font-family:cabeca;
    src:url('fontes/idroid.otf') format('opentype');
    font-weight:normal; 
    font-size:2em;
}
aside{
    background-color: var(--cor1); padding: 10px; border-radius: 10px; box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.363)
}
aside > ul{ list-style-position: inside; columns: 2; list-style-type: '\2714\00A0\00A0';}
aside > h3{ background-color: var(--cor4); padding: 5px; color: white; margin: -10px -10px 0px -10px; border-radius: 10px 10px 0px 0px;}
footer{color: white; background-color: var(--cor5); text-align: center; font-size: 0.8em; padding: 5px;}
footer a{color: white ; font-weight: bolder; text-decoration: none;}
footer a:hover{text-decoration: underline; color: var(--cor1);

}
    a.externo::after{ content: '00A0\1F517';}