*{  font-family: Arial, Helvetica, sans-serif;}
body{ background-image:linear-gradient(90deg,#02735E,#038C3E);}
main{background-color: white; width: 600px; padding: 10px; margin: auto; border-radius: 10px; 
    box-shadow:5px 5px 15px #405f5c ;
}
h1{color: #025951; 
    text-align: center;
    text-shadow: 1px 1px 2px #012924;
}
h2{color: #034159;

}

p{ text-align: justify;}